@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee-content {
  display: flex;
  width: fit-content;
  animation: infinite-scroll 80s linear infinite;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
